body {
  overflow: hidden;
  /* Hide scrollbars */
  background: rgb(10, 13, 41);
  background-image: url("pageData/pageInfo/images/backgroundImage.png");
  background-size: auto 100vh;
  width: 100%;
  height: 100%;
}

.pageRoot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
}

/*lolll*/
:root {
  --transformCircleSize: 1rem;
  --connectorSize: 1rem;
  --extraSmallLineHeight: 2rem;
  --smallLineHeight: 2.7rem;
  --bannerButtonContainer: 3.1rem;
  --bottomBarHeight: 5rem;
  --equipManagerAddMenuHeight: auto;
  --extendedSideBar: 35rem;
  --padding: .5rem;
  font-size: 62.5% !important;
}

@font-face {
  font-family: 'minimal';
  src: url('/fonts/Roboto-Light.ttf')
}

* {
  scrollbar-width: thin;
  /* "auto" or "thin" */
  scrollbar-color: rgb(29, 148, 196);
  /* scroll thumb and track */
}

*::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(29, 148, 196);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
}

h3 {
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  user-select: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

li:hover {
  background: rgba(255, 255, 255, 0.185);
}

li:active {
  background: rgba(255, 255, 255, 0.466);
}

input {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

input[type=text] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

input[type=search] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

input[type=password] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

input[type=email] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

input[type=file] {
  box-sizing: border-box;
  border: none;
  background-color: rgb(11, 20, 37);
}

select {
  box-sizing: border-box;
  border: none;
  background-color: rgb(255, 255, 255);
}

select option {
  background: rgb(255, 255, 255);
  outline: 0px;
}

form {
  display: block;
}

h1 {
  font-size: 25px;
  font-weight: normal;
  font-family: "minimal";
  text-align: center;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  box-sizing: border-box;
  align-self: center;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  font-family: "minimal";
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  box-sizing: border-box;
  align-self: center
}

p {
  padding: none;
  margin: 0;
}

button {
  display: block;
  background-color: rgb(255, 255, 255);
  border: none;
}

button:hover {
  background-color: rgb(225, 225, 245);
  color: black;
}

button:active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.canvas {
  background-color: white;
  overflow: hidden;

}

.itemHidden {
  display: none !important;
}

.mainArea {
  grid-area: content;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - var(--bannerButtonContainer));
  display: grid;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll
}

.banner {
  grid-area: banner;
  z-index: 10000;
  width: 100%;
  white-space: nowrap;
}

.bannerButton {
  height: 100%;
  width: 70px;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  color: #daf8f8e1;
  user-select: none;
  font: 14px minimal, sans-serif;
  transition: background-color 300ms ease-out;
  pointer-events: all;
  float: right;
}

.profileContainer {
  width: fit-content;
  max-height: 100%;
  display: inline-flex;
  float: left;
  color: white;
  font: 14px minimal, sans-serif;
  align-items: center;
}
.section {
  width: 100%;
  padding: 2rem;
}
.highlightItem {
  background-color: rgba(255, 255, 255, 0.093);
}

.noWrap {
  white-space: nowrap;
}

.noClick {
  pointer-events: none !important;
}

.click {
  pointer-events: all;
}

.wrap {
  white-space: wrap;
}

.textRight {
  text-align: right !important;
}

.absolute {
  position: absolute;
}

.left {
  left: 0;
  align-items: left;
  align-self: start;
}

.right {
  right: 0;
  align-items: right;
  align-self: end;
}

.top {
  top: 0;
  justify-content: top;
}

.bottom {
  bottom: 0;
  justify-content: bottom;
}

.autoWidth {
  width: auto;
}

.halfWidth {
  width: auto;
}

.width66 {
  width: 66%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.extraSmallLineHeight {
  height: var(--extraSmallLineHeight);
}

.smallLineHeight {
  height: var(--smallLineHeight);
  font-size: 1.4rem;
}

.mediumLineHeight {
  height: 40px;
  font-size: 1.4rem;
}

.largeLineHeight {
  height: 90px;
}

.extraLargeLineHeight {
  height: 120px;
}

.smallRelInput {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}

.mediumRelInput {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.largeRelInput {
  width: 66%;
  height: 100%;
  box-sizing: border-box;
}

.extraSmallInput {
  width: 70px;
  box-sizing: border-box;
}

.smallInput {
  width: 130px;
  box-sizing: border-box;
}

.mediumInput {
  width: 200px;
  box-sizing: border-box;
}

.largeInput {
  width: 300px;
  box-sizing: border-box;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  transform-origin: center center;
}

.flexDivideEvenlyContainer {
  display: flex;
  flex-flow: row;
  gap: 5px;
  align-content: center;
  align-items: center;
}

.flexDivideEvenlyItem {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.flexRow {
  display: flex;
  flex-flow: row;
}

.flexColumn {
  display: flex;
  flex-flow: column;
}

.flexInline {
  display: inline-flex;
}

.flexEdges {
  display: flex;
  justify-content: space-between;
  justify-items: space-between;
  align-items: center;
  align-content: center;
  user-select: none;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  justify-items: space-evenly;
  align-items: center;
}

.content {
  grid-area: content;
  background: rgb(22, 30, 48);
}

.footer {
  grid-area: footer;
  background: blue;
}

.appContainer {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: var(--bannerButtonContainer) calc(100vh - var(--bannerButtonContainer));
  grid-template-areas:
    "banner"
    "content";
  transition: grid-template-rows 200ms;
}